{% load bootstrap3 %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <title>Instaclone</title>
    {% block styles%} 
        {% bootstrap_css%} 
    {% endblock %}
</head>
<body>
    <div class="container" id="body">
        {% block content %} 
        {%include "registration/navbar.html" %}
        
        {% endblock %}
    </div>
     {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    {% bootstrap_javascript %} 
    {% endblock %}
    <div class="regplaystorebtn" style="align-items:center; float:right;">

        <p>Get the app</p>

    
            <a href="https://play.google.com/store/search?q=instagram">
                <img src="../../static/images/playstore.svg" alt="signuplogo " style="width:150px; height:40px ">
            </a>
    

        &nbsp;

    
            <a href="https://www.apple.com/us/search/instagram?src=itunes_serp">
                <img src="../../static/images/applestore.jpeg" alt="signuplogo " style="width:150px; height:40px ">
            </a>
    

    
    </div>
    
        </div>
    </div>
</body>

</html>

