{% load bootstrap4 %} 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <title>Instaclone</title>
    {% block styles%} 
        {% bootstrap_css%} 
    {% endblock %}
</head>
<body>
    <div class="container" id="body">
        {% block content %} 
        {%include "registration/navbar.html" %}
        
        {% endblock %}
    </div>
     {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    {% bootstrap_javascript %} 
    {% endblock %}
    
        </div>
    </div>
</body>

</html>

